[defaults]
inventory = inventories/production/hosts
remote_user = user
ask_pass = false
host_key_checking = false
retry_files_enabled = false
roles_path = roles
collections_path = ./collections

[privilege_escalation]
become = true
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no